.ios-segmented-control {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

}
.ios-segmented-control ul {
    position: relative;
    /*float: left;*/
    left: 50%;
    /*margin: 10px 0px 10px 0px;*/
    color: #ffffff;
}
.ios-segmented-control li {
    position: relative;
    float: left;
    right: 50%;
    list-style: none;
    width: 219px;
    height: 48px;
    margin-left: 12px;
    margin-top: 12px;
    line-height: 48px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    cursor: pointer;

    border-radius: 5px;

}

.ios-segmented-control li label{
    position: absolute;
    top: 2px;
    left: 2px;
    line-height: 20px;
}

.ios-segmented-control li:first-child {
    margin-left: 0px;
    /*border-left: solid #017aff 1px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
}
.ios-segmented-control li:last-child {
    /*border-bottom-right-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}
.ios-segmented-control .light {
    border: solid 1px #003399;
}
